.piece-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center -3px;
  background-size: 94px;
  height: 94px;
  width: 94px;
  pointer-events: none;
  transition: all 0.5s ease;
}
