<div class="table-wrapper">
  <div class="table">
    <div class="table__row" *ngFor="let cells of cells$ | async">
      <chess-cell *ngFor="let cell of cells" [cell]="cell"></chess-cell>
    </div>

    <chess-piece *ngFor="let piece of pieces$ | async; trackBy: trackBy" [piece]="piece" ></chess-piece>
  </div>
</div>

<!--<div class="left-billy">-->
<!--  <img src="assets/images/billy2.jpg" alt="">-->
<!--</div>-->

<!--<div class="right-billy">-->
<!--  <img src="assets/images/billy.jpg" alt="">-->
<!--</div>-->
